.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 8rem;
  @apply md:px-0 md:py-0;
}

.title {
  @apply md:fixed absolute md:top-20 top-4 text-xl font-semibold;
}

.title::after {
  content: '';
  display: block;
  width: 50%;
  height: 2px;
  margin-top: 0.6rem;
  margin-left: auto;
  margin-right: auto;
  @apply dark:bg-fuchsia-500 bg-violet-600;
}

.blocks {
  @apply flex justify-center items-center md:h-screen h-fit md:pt-0 pt-20;
}

.block {
  @apply grid md:grid-cols-10 grid-cols-5 bg-violet-400 dark:bg-violet-800 md:px-6 md:py-6 px-2 py-2 rounded md:gap-2 gap-1 shadow border-2 border-gray-200;
}

.blockItem {
  @apply flex flex-col justify-between items-center w-full max-w-md p-8 rounded shadow bg-white duration-300;
}
